<div class="container">

  <div class="jumbotron">

    <a class="btn btn-primary btn-lg pull-right" href="<%= edit_teacher_path %>">
      <span class="glyphicon glyphicon-cog"></span>
    </a>

    <p>
      <strong><%= t 'teacher' %></strong>:
      <%= @teacher.name %>
    </p>

    <p>
      <strong><%= t 'mobile' %></strong>:
      <%= @teacher.mobile %>
    </p>

    <p>
      <strong><%= t 'degree' %></strong>:
      <%= Teacher.to_degree_title @teacher.degree %>
    </p>

    <p>
      <strong><%= t 'chat_count' %></strong>:
      <%= @teacher.chats.count %>
    </p>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title pull-left"><%= t 'chat' %></p>
      <%= link_to t('more'),
                  chats_path,
                  class: 'btn btn-primary pull-right' %>
      <div class="clearfix"></div>
    </div>

    <div class="list-group">
      <%= render(@teacher.chats[0..9]) || t('no_chats') %>
    </div>
  </div>

</div>
